<head>
  <style type="text/css">
    body {margin: 30px;}
  </style>
  <meta charset=utf-8 />
  <title>Remove items from a dropdown list</title>
  <link rel="stylesheet" href="../static/css/account.css">
</head>

<div class="header">
    <h1>My Account</h1>
</div>

<body>
  <form>
    <select id="videoSelect">
      {%for i in range(0, len)%}
        <option>{{display[i].title}}</option>
      {%endfor%}
    </select> 
    <input type="button" onclick="removevideo()" value="Delete">
  </form>
</body>
