<head>
  <style type="text/css">
    body {margin: 30px;}
  </style>
  <meta charset=utf-8 />
  <title>Remove items from a dropdown list</title>
  <link rel="stylesheet" href="../static/css/account.css">
</head>

<div class="header">
    <h1>My Account</h1>
</div>

<body>
  <form action="" method="post">
    <select name="selected" id="videoSelect">
      {%for i in range(0, len)%}
        <option value="{{display[i].title}}">{{display[i].title}}</option>
      {%endfor%}
    </select> 
    <button class= "button" name='submit_button' value="delete">delete</button>
    <button class= "button" name='submit_button' value="home">Home</button>
  </form>
</body>
