<html>
<head>
  <title>Admin Panel</title>
</head>

<body>

<h2> Admin Panel </h2>
<h3> List the video files </h3>
<p> Enter a name to search the video files uplaoded to the server. </p>
<p> This is for ADMINISTRATORS ONLY and is used to check the files uploaded. </p>

<form action="" method="post">
  <input type="text" placeholder="Search" name="username" value="{{
    request.form.username }}">
  <input class="btn btn-default" type="submit" value="Search">
</form>

{% if error %}
  <p><strong>List of Video Files:</strong></p>
  <p class="error">{{ error }}
{% endif %}

</body>
</html>