<!doctype html>
<head>
<title>Upload new File</title>
</head>
<h2> What is the title? </h2>
<input type="text" placeholder="Title" name="title" value="{{
  request.form.title }}">
<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
  <input type=file name=file>
  <input type=submit value=Upload>
</form>
<h1>Video Link</h1>
<form method=post enctype=multipart/form-data>
  <input type="text" placeholder="Video URL" name="videourl" value="{{
      request.form.videourl }}">
  <input type=submit value=Upload>
</form>
