* {
  box-sizing: border-box;
}

.class33 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

video {
  width: 100%;
  height: auto;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #93748A;
  color: #ffffff;
  padding: 5px;
}


.menu li {
  padding: 2px;
  margin-bottom: 2px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

button:hover {
  opacity: 0.8;
}

button {
  color:#FFFFFF;
  transition: all 0.2s ease;
  background-color:#93748A;
  width: 150px;
  display: block;
}

button:hover{
  color:#FFFFFF;
  background-color:#7f6a80;
}

button.button1{
  position:absolute;
  transition: .5s ease;
  left: 91%;
  bottom: 69.7%;
  float: left;
  padding: 24px 39px;

}

button.button2{
  position:absolute;
  transition: .5s ease;
  left: 81%;
  bottom: 69.7%;
  float: left;
  padding: 24px 29px;

}

button.button4{
  position:absolute;
  transition: .5s ease;
  left: 71%;
  bottom: 69.7%;
  float: left;
  padding: 24px 41px;
}
@media all and (max-width:30em){
  button{
    display:block;
    margin:0.4em auto;
  }
}


/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}



/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

span.psw {
  float: right;
  padding-top: 16px;
}

h3 {
  font-size: 20px;

}
#upload_file{
    text-decoration:none;
}
#upload{
    display:none
}
